form {
  display: grid;
  justify-items: center;
  text-align: left;
  gap: 10px;

  div {
    grid-column: 1/3;
  }

  button.submit {
    grid-column: 1/2;
    justify-self: right;
  }
  button.edit {
    grid-column: 2/3;
    justify-self: left;
  }
}
